node_modules
yarn.lock
distribution/build
test/web-ext-profile
!test/web-ext-profile/.gitkeep
.cache
.parcel-cache
build/readme-parser.ts
package-lock.json
package.json
source/features/align-issue-labels.css
source/features/bugs-tab.tsx
source/features/center-reactions-popup.css
source/features/clean-conversation-headers.css
source/features/clean-conversation-headers.tsx
source/features/clean-dashboard.ts
source/features/clean-dashboard.tsx
source/features/clean-footer.css
source/features/clean-mergeability-box.css
source/features/clean-repo-sidebar.tsx
source/features/collapse-markdown-sections.ts
source/features/collapse-markdown-sections.tsx
source/features/comments-time-machine-links.tsx
source/features/conflict-marker.tsx
source/features/deep-reblame.css
source/features/default-branch-button.tsx
source/features/enable-file-links-in-compare-view.tsx
source/features/extend-diff-expander.css
source/features/extend-status-labels.css
source/features/follow-file-renames.tsx
source/features/git-checkout-pr.tsx
source/features/hide-empty-profile-status.css
source/features/hide-useless-comments.css
source/features/highest-rated-comment.tsx
source/features/highlight-deleted-and-added-files-in-diffs.tsx
source/features/latest-tag-button.tsx
source/features/mark-merge-commits-in-list.css
source/features/more-dropdown.tsx
source/features/pr-commit-lines-changed.tsx
source/features/raw-file-link.tsx
source/features/releases-tab.tsx
source/features/restore-file.tsx
source/features/select-all-notifications-shortcut.ts
source/features/select-all-notifications-shortcut.tsx
source/features/show-whitespace.css
source/features/table-input.css
source/features/useful-not-found-page.tsx
source/features/wait-for-attachments.ts
source/features/wait-for-attachments.tsx
source/features/wait-for-build.css
source/github-helpers/get-default-branch.ts
source/github-helpers/github-url.ts
source/github-helpers/index.ts
source/options-storage.ts
source/refined-github.css
source/refined-github.ts
test/fixtures/globals.ts
test/helpers.ts
tsconfig.json
webpack.config.ts
